/*=====================================================
 container
=====================================================*/
@mixin widthM($width) {
    width: $width;
    margin: 0 auto;
}

.container10 {
    @include widthM(10%);
}

.container20 {
    @include widthM(20%);
}

.container30 {
    @include widthM(30%);
}

.container40 {
    @include widthM(40%);
}

.container50 {
    @include widthM(50%);
}

.container60 {
    @include widthM(60%);
}

.container70 {
    @include widthM(70%);
}

.container80 {
    @include widthM(80%);
}

.container90 {
    @include widthM(90%);
}

@mixin mX($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

// for Android
.containerX20 {
    @include mX(20px)
}

// for iPhone
.containerX40 {
    @include mX(40px)
}

/*=====================================================
 width
=====================================================*/
.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.w10w {
    width: 10vw;
}

.w20w {
    width: 20vw;
}

.w30w {
    width: 30vw;
}

.w40w {
    width: 410vw;
}

.w50w {
    width: 50vw;
}

.w60w {
    width: 60vw;
}

.w70w {
    width: 70vw;
}

.w80w {
    width: 80vw;
}

.w90w {
    width: 90vw;
}

.w100w {
    width: 100vw;
}

/*=====================================================
 margin
=====================================================*/
.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.mt60 {
    margin-top: 60px;
}

.mt80 {
    margin-top: 80px;
}

.mt100 {
    margin-top: 100px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb100 {
    margin-bottom: 100px;
}

/*=====================================================
 button
=====================================================*/
.O-button {
    border-radius: 20px;
}